<h1>Hello, Rails</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%# Returns "/articles/#{article.id}" %>
      <a href="<%= article_path(article) %>"> 
        <%= article.title %>
      </a>
      &nbsp;
      <% # Alternate option %>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>